body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;

  background-color: #646464;
  color: #f3f3f3;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: Arial, Helvetica, sans-serif;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  padding: 0;
  margin: 0;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.preset {
  display: none;
}

input,
button {
  border: 0;
  padding: 0;
  margin: 0;

  /*font-family: "Courier New", Courier, monospace;*/
  font-family: Arial, Helvetica, sans-serif;
}

/*

MENU

*/

.menu {
  width: 200px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #323232;
}

@media only screen and (max-width: 700px) {
  .menu {
    position: initial;
    width: 100%;
    height: auto;

    text-align: center;
  }

  .menu-item {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.menu-title {
  padding: 15px;
  margin-bottom: 20px;

  background-color: #232323;

  font-weight: bold;
  font-size: 24px;
  color: #f3f3f3;
  cursor: pointer;
}

.menu-item {
  width: 160px;

  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.menu-item-account {
  display: flex;
}

.menu-item-account > div:nth-child(1) {
  width: 120px;
}

.menu-item-account:hover > div:nth-child(2) {
  display: block;
}

.menu-item-logout {
  display: none;
  position: relative;
  right: 0;
  top: 0;
  width: 40px;

  padding: 10px 0px 10px 0px;
  cursor: pointer;

  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.menu-item-logout:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

/*

/MENU

*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 200px;
  padding: 4px 0px;

  font-size: 13px;
  background-color: #232323;
  text-align: center;
  color: #f3f3f3;
}

@media only screen and (max-width: 700px) {
  footer {
    position: initial;
    width: 100%;
    height: auto;

    text-align: center;
  }
}

/*

GALLERY

*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: calc(100% - 200px);
  height: auto;

  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin-left: 0px;
  }
}

.gallery-item {
  margin: 5px;

  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.gallery-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery-item > img {
  margin: 10px 10px 0px 10px;
}

.gallery-item > div {
  width: 100%;
  margin: 10px;
}

.gallery-img {
  width: calc(192px * 2);
  height: calc(108px * 2);
}

/*

/GALLERY

*/

/*

LOGIN & REGISTER

*/

.container-login,
.container-register {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 200px);
  height: 100%;

  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .container-login,
  .container-register {
    width: 100%;
    margin-left: 0px;
  }
}

.box-login,
.box-register {
  padding: 20px;
  border: 1px solid black;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.box-login > span,
.box-register > span {
  font-size: 20px;
  font-weight: bold;
}

.box-login > div span,
.box-register > div span {
  cursor: pointer;
}

.box-login > div span:hover,
.box-register > div span:hover {
  font-weight: bold;
}

.box-login > input {
  width: 200px;
}

.box-register > input {
  width: 300px;
}

.box-login > input,
.box-register > input {
  font-family: "Courier New", Courier, monospace;

  border: 0;
  padding: 5px 0px;
  margin: 5px 0px;

  text-align: center;
}

.box-login > input:nth-of-type(1),
.box-register > input:nth-of-type(1) {
  margin-top: 10px;
}

.box-login > input:nth-of-type(2),
.box-register > input:nth-of-type(3) {
  margin-bottom: 40px;
}

.box-login > input:last-child,
.box-register > input:last-child {
  margin-top: 10px;
  cursor: pointer;
}

/*

/LOGIN & REGISTER

*/

/*

ACCOUNT

*/
.account-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 200px);
  height: 100%;

  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .account-container {
    width: 100%;
    margin-left: 0px;
  }
}

.account-box {
  background-color: #323232;
  border: 1px solid black;
}

.account-item {
  display: flex;

  padding: 30px 30px;
  font-size: 17px;
}

.account-item > div:first-child {
  font-weight: bold;
}

.account-item > div {
  width: 300px;
}

.account-item > div:nth-child(2) {
  text-align: center;
}

.account-item input {
  padding: 2px 4px;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #f3f3f3;
}

.account-edit {
  display: flex;
  padding: 30px 30px;

  font-size: 17px;
}

.account-edit > div {
  width: 300px;
  text-align: center;
}

.account-edit > div div,
.account-edit > div button {
  width: 70%;
  padding: 5px 0px;
  margin: auto;

  font-size: 17px;
  color: #f3f3f3;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.account-edit > div div:hover,
.account-edit > div button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*

/ACCOUNT

*/

.container-preview {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 200px);
  height: 100%;

  margin-left: 200px;
}

@media only screen and (max-width: 700px) {
  .container-preview {
    width: 100%;
    margin-left: 0px;
  }

  .container-preview > img {
    max-width: 100% !important;
  }
}

.container-preview > img {
  max-width: calc(100% - 200px);
  max-height: 100%;
}
